<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                        <conditions logicalGrouping="MatchAll">
                            <add input="{HTTPS}" pattern="^ON$" negate="true" />
                            <add input="{HTTP_HOST}" pattern="^(www\.)?cadillacf1team\.media$" negate="true" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" appendQueryString="true" />
                </rule>
                <rule name="Force hostname cadillacf1team.media" stopProcessing="true">
                    <match url="(.*)" />
                        <conditions logicalGrouping="MatchAny">
                            <add input="{HTTPS}" pattern="^ON$" negate="true" />
                            <add input="{HTTP_HOST}" pattern="^cadillacf1team\.media$" negate="true" />
                        </conditions>
                        <action type="Redirect" url="https://cadillacf1team.media/{R:0}" appendQueryString="true" />
                </rule>
                <rule name="Versioned CSS" stopProcessing="true">
                    <match url="^css/(.*)\.([0-9]{14})\.css$" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/css/{R:1}.css" appendQueryString="false" />
                </rule>
                <rule name="Versioned Javascript" stopProcessing="true">
                    <match url="^js/(.*)\.([0-9]{14})\.js$" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/js/{R:1}.js" appendQueryString="false" />
                </rule>
                <rule name="Versioned Images" stopProcessing="true">
                    <match url="^img/(.*)\.([0-9]{14})\.(gif|ico|jpg|png|svg)$" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/img/{R:1}.{R:3}" appendQueryString="false" />
                </rule>
                <!-- Uncomment next rule to take website offline -->
                <!--rule name="Website offline" stopProcessing="true">
                    <match url="^(img|css|js)" negate="true" />
                    <action type="Rewrite" url="/offline.asp" appendQueryString="false" />
                </rule-->
                <rule name="Remove index.asp from URL" stopProcessing="true">
                    <match url="(.*)index\.asp$" />
                    <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="View Picture (Event, Session)" stopProcessing="true">
                    <match url="^event/([^/]+)/([^/]+)/view/([0-9]+)$" />
                    <action type="Rewrite" url="/viewpicture.asp?e={R:1}&amp;s={R:2}&amp;id={R:3}" />
                </rule>
                <rule name="View Picture (Event)" stopProcessing="true">
                    <match url="^event/([^/]+)/view/([0-9]+)$" />
                    <action type="Rewrite" url="/viewpicture.asp?e={R:1}&amp;id={R:2}" />
                </rule>
                <rule name="Event List (Event, Session)" stopProcessing="true">
                    <match url="^event/([^/]+)/([^/]+)$" />
                    <action type="Rewrite" url="/event.asp?e={R:1}&amp;s={R:2}" />
                </rule>
                <rule name="Event List (Event)" stopProcessing="true">
                    <match url="^event/([^/]+)$" />
                    <action type="Rewrite" url="/event.asp?e={R:1}" />
                </rule>
                <rule name="Robots.txt" stopProcessing="true">
                    <match url="^robots\.txt$" />
                    <action type="Rewrite" url="/robots-txt.asp" appendQueryString="false" />
                </rule>
                <rule name="Search with View Picture" stopProcessing="true">
                    <match url="^search-view$" />
                    <action type="Rewrite" url="/search-viewpicture.asp" appendQueryString="true" />
                </rule>
                <rule name="Search" stopProcessing="true">
                    <match url="^search$" />
                    <action type="Rewrite" url="/search.asp" appendQueryString="true" />
                </rule>
                <rule name="Basket - Add" stopProcessing="true">
                    <match url="^basket/add/([0-9]+(,[0-9]+)*)$" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="size=([0-9]+)" />
                    </conditions>
                    <action type="Rewrite" url="/download-basket-update.asp?action=add&amp;pictureid={R:1}&amp;picturesizeid={C:1}" />
                </rule>
                <rule name="Basket - Remove" stopProcessing="true">
                    <match url="^basket/remove/([0-9]+(,[0-9]+)*)$" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="size=([0-9]+)" />
                    </conditions>
                    <action type="Rewrite" url="/download-basket-update.asp?action=remove&amp;pictureid={R:1}&amp;picturesizeid={C:1}" />
                </rule>
                <rule name="Basket - Download ZIP" stopProcessing="true">
                    <match url="^basket/download/zip$" />
                    <action type="Rewrite" url="/download-basket-zip.asp" appendQueryString="true" />
                </rule>
                <rule name="Basket - Download" stopProcessing="true">
                    <match url="^basket/download$" />
                    <action type="Rewrite" url="/download-basket.asp?download=zip" appendQueryString="false" />
                </rule>
                <rule name="Basket - Clear" stopProcessing="true">
                    <match url="^basket/clear$" />
                    <action type="Rewrite" url="/download-basket-update.asp?action=clear" appendQueryString="false" />
                </rule>
                <rule name="Basket" stopProcessing="true">
                    <match url="^basket$" />
                    <action type="Rewrite" url="/download-basket.asp" appendQueryString="true" />
                </rule>
                <rule name="Login" stopProcessing="true">
                    <match url="^login$" />
                    <action type="Rewrite" url="/login.asp" appendQueryString="true" />
                </rule>
                <rule name="Logout" stopProcessing="true">
                    <match url="^logout$" />
                    <action type="Rewrite" url="/logout.asp" appendQueryString="true" />
                </rule>
                <rule name="Account disabled" stopProcessing="true">
                    <match url="^account/disabled$" />
                    <action type="Rewrite" url="/account-disabled.asp" appendQueryString="false" />
                </rule>
                <rule name="Account expired" stopProcessing="true">
                    <match url="^account/expired$" />
                    <action type="Rewrite" url="/account-expired.asp" appendQueryString="false" />
                </rule>
                <rule name="Downloadlimit" stopProcessing="true">
                    <match url="^downloadlimit$" />
                    <action type="Rewrite" url="/downloadlimit.asp" appendQueryString="false" />
                </rule>
                <rule name="Offline" stopProcessing="true">
                    <match url="^offline$" />
                    <action type="Rewrite" url="/offline.asp" appendQueryString="true" />
                </rule>
                <rule name="Picture Download" stopProcessing="true">
                    <match url="^pictures/(.+)" />
                    <action type="Rewrite" url="/download-picture.asp?filename={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Admin - Toggle Picture Status" stopProcessing="true">
                    <match url="^admin/toggle-picture-status/([0-9]+)" />
                    <action type="Rewrite" url="/admin/toggle-picture-status.asp?pictureid={R:1}" logRewrittenUrl="false" />
                </rule>
                <rule name="Admin - Toggle Exclusive Group" stopProcessing="true">
                    <match url="^admin/toggle-exclusive-group/([0-9]+)" />
                    <action type="Rewrite" url="/admin/toggle-exclusive-group.asp?pictureid={R:1}" logRewrittenUrl="false" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="strict-transport-security" value="max-age=31536000; includeSubdomains" />
            </customHeaders>
        </httpProtocol>
        <httpErrors errorMode="Custom" />
    </system.webServer>
    <system.web>
        <httpRuntime maxUrlLength="1024" />
    </system.web>
</configuration>
